@import 'variables';
#intro-text {
  margin-bottom: 40px;
  float: left;
  > .ce_text {
    width: 80%;
    margin: 0 auto;
  }
  > .ce_image {
    width: 60%;
    margin: 0 auto;
  }
  .ce_gallery {
    width: 80%;
    margin: 0 auto 75px;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        width: 25%;
        display: flex;
        figure {
          align-self: center;
        }
      }
    }
  }
}

.intro-text-inside {
  width: 46%;
  margin-right: 4%;
  float: left;
}

.intro-image-inside {
  width: 50%;
  float: left;
}

#fernwartung,#contact-form {
  width: $width;
  max-width: $max-width;
  margin: 120px auto 40px;
}

#schwerpunkte {
  float: left;
  width: 50%;
  margin-top: 40px;
  padding-top: 120px;
  // box-shadow: 0 0 10px #b1b1b1;
  overflow: visible;
  .ce_text {
    width: $width;
    max-width: $max-width;
    margin: 0 auto 60px;
  }
}

.intro-image {
  position: relative;
  figcaption {
    position: absolute;
    top: 40%;
    left: 50px;
    width: 180px;
    color: white;
    font-style: italic;
    line-height: 1.6em;
  }
}

.seperate-arrows {
  display: none;
  position: relative;
  bottom: -125px;
  width: 350px;
  height: 110px;
  margin: 0 auto;
  overflow: visible;
  figure {
    position: absolute;
    top: -147px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.compare {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  figure img {
    width: 100%;
  }
}

.half {
  width: 50%;
  overflow: visible;
  h3 {
    margin-top: 130px;
    color: white;
    text-transform: uppercase;
  }
  h4 {
    margin-top: 50px;
  }
}

.half-left {
  position: relative;
  .ce_text {
    float: right;
    margin-right: 10%;
  }
  h3,h4 {
    width: 100%;
  }
  p, ul {
    width: 320px;
  }
  ul:nth-last-child(2) {
    margin-bottom: 80px;
  }
}

.half-right {
  position: relative;
  h3,h4 {
    width: 100%;
    margin-left: 10%;
  }
  p, ul {
    margin-left: 10%;
    width: 320px;
  }
  p:last-child,ul:last-child {
    margin-bottom: 80px;
  }
  .cta {
    margin-left: 10%;
  }
}

.dark-green {
  background-color: $primary-color;
}

.bright-green {
  background-color: $secondary-color;
}

.brightest-green {
  background-color: $secondary-color-bright;
}

.brighter-green {
  background-color: $primary-color-bright;
}

.cta {
  position: absolute;
  bottom: -45px;
  background-image: url("../../layout/cta.png");
  width: 300px;
  height: 100px;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.2em;
  z-index: 1;
  transition: transform 250ms;
  -webkit-transition: transform 250ms;
  -moz-transition: transform 250ms;
  -o-transition: transform 250ms;
  a {
    display: block;
    top: 55%;
    position: relative;
    margin-left: 45px;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
  .cta-span {
    font-weight: bold;
    font-size: 17pt;
  }
  &:hover {
    transform: translateX(+5%);
  }
}

.software {
  display: flex;
  img {
    width: 100px;
  }
  a {
    position: relative;
    align-self: center;
    margin-left: 20px;
    padding-left: 25px;
    text-decoration: none;
    color: $primary-color;
    font-style: italic;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 25px;
      background: url("../../layout/download.svg") no-repeat top left / cover;
    }
  }
}

#form-article {
  background: rgba(140,198,65,1) url("../../layout/imr-bg.png");
  background-image: url("../../layout/imr-bg.png"), -moz-linear-gradient(left, rgba(140,198,65,1) 0%, rgba(97,187,70,1) 100%);
  background-image: url("../../layout/imr-bg.png"), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(140,198,65,1)), color-stop(100%, rgba(97,187,70,1)));
  background-image: url("../../layout/imr-bg.png"), -webkit-linear-gradient(left, rgba(140,198,65,1) 0%, rgba(97,187,70,1) 100%);
  background-image: url("../../layout/imr-bg.png"), -o-linear-gradient(left, rgba(140,198,65,1) 0%, rgba(97,187,70,1) 100%);
  background-image: url("../../layout/imr-bg.png"), -ms-linear-gradient(left, rgba(140,198,65,1) 0%, rgba(97,187,70,1) 100%);
  background-image: url("../../layout/imr-bg.png"), linear-gradient(to right, rgba(140,198,65,1) 0%, rgba(97,187,70,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc641', endColorstr='#61bb46', GradientType=1 );
  background-size: cover;
}

#contact-form {
  position: relative;
  font-weight: 300;
  h3 {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
  }
  label {
    background-color: white;
    margin: 2px;
    padding: 5px 15px;
    width: 26%;
    display: inline-block;
    text-transform: uppercase;
    color: #666;
  }
  input,textarea {
    width: 65.1%;
    border: none;
    padding: 5px 15px;
    margin: 4px auto;
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: rgba(255,255,255,0.9);
    }
  }
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  .submit {
    position: relative;
    float: right;
    width: 155px;
    margin-bottom: 40px;
    border: none;
    background-color: white;
    padding: 10px 16px;
    text-transform: uppercase;
    text-align: left;
    box-shadow: 0 0 10px #888;
    cursor: pointer;
    transition: box-shadow 250ms;
    -webkit-transition: box-shadow 250ms;
    -moz-transition: box-shadow 250ms;
    -o-transition: box-shadow 250ms;
    &:after {
      content: '';
      position: absolute;
      top: 8px;
      right: 10px;
      width: 20px;
      height: 20px;
      background: url("../../layout/double-arrow-right.svg");
    }
    &:hover {
      box-shadow: 0 0 40px #888;
    }
  }
}

#contact-form .widget-textarea {
  display: flex;
  label {
    align-self: start;
  }
  textarea {
    margin: 2px 4px;
  }
}

#contact-form .widget-checkbox {
  position: relative;
  label {
    background-color: transparent;
    width: 80%;
    text-transform: none;
    color: black;
    cursor: pointer;
  }
  input {
    width: 20px;
  }
  .form-products {
    legend {
      width: 95.4%;
      background-color: #fff;
      margin: 2px;
      padding: 5px 15px;
      display: inline-block;
      text-transform: uppercase;
      color: #666;
    }
    span {
      display: flex;
      float: left;
      width: 23%;
      height: auto;
      margin: 5px 2px;
      background: rgba(255,255,255,0.3);
    }
  }
}

#partner-logos .ce_gallery {
  margin: 120px 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    align-items: center;
    li {
      width: 22%;
    }
  }
}

.mobile-only {
  display: none;
}

.imprint {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
}

@media screen and (max-width: $smartphone) {
  .mobile-only {
    display: block;
  }

  #intro-text, #fernwartung, #contact-form {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0;
  }

  #intro-text .ce_text, .half .ce_text, #fernwartung .ce_text, #contact-form {
    width: 90%;
    margin: 0 auto;
    h3,p {
      width: 100%;
      margin-left: auto;
    }
  }

  .intro-image figcaption {
    top: initial;
    bottom: 0;
    left: 0;
    background-color: rgba(98,187,70,0.9);
    width: 85%;
    padding: 32px;
    font-size: 18pt;
  }

  #schwerpunkte {
    margin-top: 0;
    padding-top: 0;
    .ce_text {
      margin-bottom: 0;
    }
  }

  .seperate-arrows {
    display: none;
  }

  .half {
    width: 100%;
    h3 {
      margin-top: 40px;
    }
  }

  .half-left .ce_text {
    float: none;
    margin-right: auto;
  }

  .half-left ul:nth-last-child(2) {
    margin-bottom:100px;
  }

  .cta {
    bottom: 10px;
    width: 100%;
    left: -27px;
    background-image: url("../../layout/cta-mobile.png");
    a {
      top: 62%;
    }
  }

  .half-right ul {
    margin-bottom: 100px;
  }

  .half-right .cta {
    margin-left: 0;
  }

  .desktop-only {
    display: none;
  }

  .mood-image-laptop figure img {
    height: 400px;
    object-fit: cover;
  }

  .software {
    display: block;
    a {
      display: block;
      margin: 20px auto;
      width: 220px;
    }
  }

  .download-element img {
    display: block;
    margin: 0 auto;
  }

  #contact-form input, #contact-form textarea {
    width: 92%;
  }

  #contact-form .widget-textarea {
    display: block;
  }

  #contact-form label {
    margin: 4px auto;
    width: 100%;
  }

  #partner-logos .ce_gallery ul {
    display: block;
  }

  #partner-logos .ce_gallery > ul li {
    float: none;
    width: 60%;
    margin: 40px auto;
    &:last-child {
      margin-top: 80px;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  #contact-form .widget-checkbox {
    position:relative;
    width: 100%;
    margin: 4px auto;
    span {
      display: flex;
      label {
        width: 70%;
      }
    }
    .form-products span {
      width: 100%;
    }

  }

  #contact-form .submit {
    float:none;
    width: 100%;
    margin: 0 auto 40px;
    display: block;
  }

  .intro-text-inside {
    width: 100%;
  }

}

