$width: 90%;
$max-width: 850px;
$tablet: 1024px;
$smartphone: 769px;

$primary-color: rgb(98,187,70);
$secondary-color: rgb(141,198,65);
$primary-color-bright: rgba(98,187,70,0.5);
$secondary-color-bright: rgba(141,198,65,0.5);